doctype html
html(lang="x-default")
  head
    title !{title}
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/font/font-awesome-4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='/css/compiled.min.css', rel='stylesheet')
    link(href='/css/mdb.min.css', rel='stylesheet')
    link(href="/css/main.css", rel="stylesheet")
    link(href="/css/estilos.css", rel="stylesheet")
    link(rel="shortcut icon", type="image/png", href="/img/logo.png")
    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    
  body
      nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.elegant-color-dark
        .container
          a.btn.btn-primary.p-3.button-collapse.lista(href="#", data-activates="slide-out")
            i.fa.fa-bars
          ul#slide-out.side-nav.sn-bg-1.custom-scrollbar
            li
              .logo-wrapper.waves-light
                a(href="#")
                  img.img-fluid.flex-center(src="/img/logo.png")
            li
              form.search-form(role="search")
                .form-group.waves-light
                  input.form-control(type="text", placeholder="Buscar")
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                span.sr-only (current)   
            li.nav-item
              a.nav-link(href='#') Productos  
            li.nav-item
              a.nav-link(href='#') Contáctenos
            div#contenido2
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fa.fa-shopping-cart(aria-hidden="true") MI CARRO
                  if session.cart          
                   span !{session.cart.totalItems}   
                if session.cart
                  .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    for result in session.cart.items
                      a.dropdown-item(href='#') #{result.item.nombre} X#{result.quantity} $#{result.price}
                    a.dropdown-item(href='#') Total: $!{ session.cart.totalPrice }
                    a.dropdown-item.btn-success(href='/cart/') Pasar por caja
            li.nav-item
                 if session.user
                   h4 #{session.user.email}
          a.navbar-brand.imgLogo(href="#") 
           img.d-inline-block.align-top(src="/img/logo.png", width="39", height="39", alt="") 
          h3.titulo Box
          #navbarNavDropdown.collapse.navbar-collapse
                 ul.navbar-nav
                   li.nav-item.active
                     a.nav-link.mov(href='/')
                       | Home 
                       span.sr-only (current)   
                   li.nav-item
                     a.nav-link.mov(href='#') Productos  
                   li.nav-item
                     a.nav-link.mov(href='#') Contáctenos
                  div#contenido
                     a.btn.btn-primary.nav-link.mov(type="button", data-toggle="modal", data-target="#modalCart")
                       i.fa.fa-shopping-cart(aria-hidden="true") 
                       |MI CARRO 
                       if session.cart && session.cart.totalItems > 0       
                         span.cartItem !{session.cart.totalItems}   
                     // Modal: modalCart
                     if session.cart && session.cart.totalItems > 0
                       #modalCart.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
                         .modal-dialog(role="document")
                           .modal-content
                             // Header
                             .modal-header
                               h4#myModalLabel.modal-title Carrito de compras 
                               |                 
                               button.close(type="button", data-dismiss="modal", aria-label="Close")
                                 span(aria-hidden="true") ×
                             // Body
                             .modal-body
                               table.table.table-hover
                                 thead
                                   tr                           
                                     th Nombre                      
                                     th Cantidad
                                     th Precio Unitario              
                                     th Eliminar
                                 tbody
                                   for result in session.cart.items             
                                       tr                        
                                         td(align="center") #{result.item.nombre}                       
                                         td(align="center") #{result.quantity}
                                         td(align="center") $#{result.item.precio}                       
                                         td(align="center")
                                             a.close(type="button", data-dismiss="modal", aria-label="Close", id ="remove")
                                               i.fa.fa-remove
                                         script.
                                           $(document).ready(function() {
                                             $('#remove').click(function() {
                                               $('#your-modal-id').modal('hide');
                                               $('body').removeClass('modal-open');
                                               $('.modal-backdrop').remove();
                                               $.ajax({
                                                 type: "get",
                                                 url: "/remove/#{result.item._id}",
                                                 success: function(a) {
                                                   $('#contenido').html(a);
                                                 }
                                               }).then(function() {
                                                 $.ajax({
                                                   type: "get",
                                                   url: "/reload",
                                                   success: function(a) {
                                                     $('#contenido2').html(a);
                                                   }
                                                 }).then(function(){
                                                   $('#modalCart').modal('show');
                                                 });
                                               });
                                             });
                                           });

                                   tr                        
                                     td                      
                                     td 
                                     td Total:                    
                                     td $!{session.cart.totalPrice}
                                     
                             // Footer
                             .modal-footer
                               button.btn.btn-outline-primary(type="button", data-dismiss="modal") Cerrar
                               |                 
                               a.btn.btn-primary(href='/cart/') Realizar pedido
                       // Modal: modalCart=
                     else
                      #modalCart.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
                        .modal-dialog(role="document")
                          .modal-content
                            // Header
                            .modal-header
                              h4#myModalLabel.modal-title Carrito de compras 
                              |                 
                              button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") ×
                            // Body
                            .modal-body
                              h4 No hay productos en el carro de compras.
                            // Footer
                            .modal-footer         
                  #contUser
                       if session.user
                           li.nav-item.mov
                                if session.user
                                 .usu #{session.user.email} 
                                 a.nav-link.mov.cerrar(href='/cerrar') Cerrar Sesion
                       else     
                          li.nav-item.mov
                            a.nav-link.mov(href='/login2/') Iniciar Sesion
      block content
    .Footer.elegant-color-dark
      script(type="text/javascript", src="/scripts/common-scripts/Combined.js")        
      .footer-container.elegant-color-dark
        footer.wrapper
          .social-mobile
            ul
              li.social
                a(href="http://www.facebook.com", target="_blank")
                  i.fa.fa-facebook
                a(href="#", target="_blank")
                  i.fa.fa-instagram
                a(href="#", target="_blank")
                  i.fa.fa-twitter
                a(href="#", target="_blank")
                  i.fa.fa-youtube  
  
          .menu-wrapper
            ul
              li.cat-title Productos 
              li
                a(href="http://www.corsair.com/en-eu/where-to-buy", target="") Tarjetas Graficas 
              li
                a(href="http://www.corsair.com/en-eu/where-to-buy", target="") Mause 
                
          .menu-wrapper
            ul
              li.cat-title Informacion
              li
                a(href="http://www.corsair.com/en-eu/company/contact", target="") Contáctenos  
              li
                a(href="http://www.corsair.com/en-eu/company/about-corsair", target="") About
             
          .menu-wrapper
            ul
              li.social
                a(href="http://www.facebook.com/Corsair", target="_blank")
                  i.fa.fa-facebook
                a(href="https://www.instagram.com/corsairgaming/", target="_blank")
                  i.fa.fa-instagram
                a(href="http://twitter.com/Corsair", target="_blank")
                  i.fa.fa-twitter
                a(href="http://youtube.com/CorsairMemoryInc", target="_blank")
                  i.fa.fa-youtube
      .legal
        .wrapper
          div
            | Copyright © 2017 Helayias. All rights reserved.
          div(style="text-align: right")
            a(href="/en-eu/privacy-policy") Privacy Policy      
            span.footer-item-spearator -            
            a(href="/en-eu/term-of-use") Terms of Use
script(type='text/javascript', src='/js/compiled.min.js')  
script(type='text/javascript', src='/js/jarallax.js')   
script(type='text/javascript', src='/js/jarallax-video.js')
script.
  new WOW().init();
script(type="text/javascript", src="/js/mdb.min.js")
script $(".button-collapse").sideNav(); 

  
