.row
  .col-lg-3
  .col-lg-6 
    h1 Carrito de Compras 
  .col-lg-3
br
if productos 
    table.table
      thead.mdb-color.darken-3
        tr.text-white.info-color-dark      
          th Nombre          
          th Cantidad         
          th Precio Unitario
          th Precio Total
          th Remover
      tbody.table-striped
         for result,i in productos
            tr     
              td #{result.item.nombre}        
              td 
                input.cantidad(type="number",name="cant",id="#{i}cant",value="#{result.quantity}")
                a(id ="#{i}up")
                  i.fa.fa-refresh(aria-hidden='true')
              td $#{result.item.precio}
              td $#{result.price}
              td
                  a.close(id ="#{i}")
                     i.fa.fa-remove
                
                script.
                  $(document).ready(function() {
                      $('##{i}').click(function() {
                          $.ajax({
                            type: "get",
                            url: "/remov/#{result.item._id}",
                            success: function(a) {
                              $('#conta').html(a);
                            }
                          }).then(function(){
                            $.ajax({
                              type:"get",
                              url:"/reload",
                              success: function(a) {
                                $('#contenido2').html(a);
                              }
                            });
                          });
                      });
                      var cant = document.getElementById("#{i}cant");
                      $('##{i}up').click(function() {
                          $.ajax({
                            type: "get",
                            url: "/update/#{result.item._id}/"+cant.value,
                            success: function(a) {
                              $('#conta').html(a);
                            }
                          }).then(function(){
                            $.ajax({
                              type:"get",
                              url:"/reload",
                              success: function(a) {
                                $('#contenido2').html(a);
                              }
                            });
                          });
                      });
                  });
                
      tr     
        td         
        td         
        td Total
        td $#{totalPrice}
    dic#contPed
      if !session.user
        .row
          .col-lg-8
              form(id = "formReg")
                p.h5.text-center.mb-4 Registro
                |     
                .md-form.form-sm
                  i.fa.fa-user.prefix.grey-text
                  |         
                  input#nombre.form-control(type="text", name="nombre")
                  |         
                  label(for="orangeForm-name") Nombre
                br
                .md-form.form-sm
                  i.fa.fa-envelope.prefix
                  |     
                  input#email.form-control.validate(type="email", name="email")
                  |     
                  label(for="email", data-error="Mal", data-success="ok", required) Email
                br
                .md-form.form-sm
                  i.fa.fa-lock.prefix
                  |     
                  input#password.form-control.validate(type="password", name="password", minlength="6", required)
                  |     
                  label(for="password", data-error="Mal", data-success="ok") Contraseña  
                .text-center
                  button.btn.btn-deep-orange(id = "btnReg") Regístrate
          .col-lg-4
                 .espacio2
                 p *Para poder comprar primero es necesario que se registre.
                 p *Asegurese de ingresar datos de contacto correctos.
           script.
             $(document).ready(function() {
               $("#btnReg").click(function(){
                  $.ajax({
                         type: "POST",
                         url: "/users",
                         data: $("#formReg").serialize(),
                         success: function(data){
                             $("#contPed").html(data); // Mostrar la respuestas del script PHP.
                         }
                       });
                  return false; // Evitar ejecutar el submit del formulario.
               });
             });
             

      else 
         a.btn.btn-outline-primary(href ="/pedidoag" ) Realizar pedido     

 else
   h1 No hay productos en el carrito de compras.
