extends ./layouts/layout.jade
block content
      #contenido3     
       .hero(style='max-height: 600px;')
        video#videoHero(autoplay='', loop='', preload='', poster='', style='top: 70px; height: auto; width: 100%;', src='/video/suporte-venonpro-blue.mp4')
       .container( style="background-color: white;")
        .row
         .col-md-4
         .col-md-4
            br
            h1.titProd Productos
            br
         .col-md-4
        .row
          for result,i in productos
            .col-lg-3.col-md-12.mb-r
              .card(style="")
                .view.overlay.hm-white-slight
                  img.card-img-top.img-fluid.img-cont.prod(src="data:image/png;base64,#{result.img}")
                  |                     
                  a(href="/detalle/#{result.id}")
                    .mask.flex-center.waves-effect.waves-light
                      h3.white-text Detalles 

                .card-body.text-center.no-padding
                  h4.card-title 
                    | !{result.nombre}
                    //,href='/add/#{result.id}/1'
                  h5
                    | $!{result.precio}
                  .card-footer
                     a.btn.btn-success.btnCart(id= "#{result.id}", onclick="toastr.success('Producto agregado :D');", role='button',data-toggle="modal", data-target="##{i}")
                       i.fa.fa-shopping-cart(aria-hidden='true') 
                       | Agregar al Carro   
             div.modal.fade(id="#{i}", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
                  .modal-dialog.modal-notify.modal-success(role="document")
                    .modal-content
                      .modal-header
                        p.heading.lead Agregado al carro de ventas
                        |     
                        |                     
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                          span.white-text(aria-hidden="true") ×
                      .modal-body
                        .text-center
                             img.card-img-top.img-fluid.prod.imgModal(src="data:image/png;base64,#{result.img}")
                             h4 !{result.nombre}
                             h4 
                               strong $!{result.precio}
                      .modal-footer.justify-content-center
                        a.btn.btn-primary-modal(type="button", data-dismiss="modal", aria-label="Close") Seguir comprando           
                        a.btn.btn-outline-secondary-modal.waves-effect(href="/cart/") Realizar pedido
                  script.
                      $(document).ready(function() {
                        $('##{result.id}').click(function() {
                          $.ajax({
                            type: "get",
                            url: "/add/#{result.id}/1",
                            success: function(a) {
                              $('#contenido').html(a);
                            }
                          }).then(function() {
                            $.ajax({
                              type: "get",
                              url: "/reload",
                              success: function(a) {
                                $('#contenido2').html(a);
                              }
                            });
                          });
                        });
                      });
                
              
