extends ./layouts/layout.jade
block content       
       .hero(style='max-height: 600px;')
        video#videoHero(autoplay='', loop='', preload='', poster='', style='top: 70px; height: auto; width: 100%;', src='/video/suporte-venonpro-blue.mp4')
       .container( style="background-color: white;")
        .row
         .col-md-4
         .col-md-4
            br
            h1.titProd Productos
            br
         .col-md-4
        .row
          for result in productos
            .col-md-6.col-lg-3.prod
              .card(style="")
                img.card-img-top(src="/img/img1.png", alt="Card image cap") 
                .card-body
                  h5.card-title 
                    | !{result.nombre}
                  p.card-text
                    | $!{result.precio}
                  a.btn.btn-primary(href="/detalle/#{result.id}") Detalles
                  a.btn.btn-success(id= "#{result.id}", onclick="toastr.success('Producto agregado :D');", role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true') 
                    | Agregar al Carro   
                    //,href='/add/#{result.id}/1'
                  script.
                      $(document).ready(function() {
                        $('##{result.id}').click(function() {
                          $.ajax({
                            type: "get",
                            url: "/add/#{result.id}/1",
                            success: function(a) {
                              $('#contenido').html(a);
                            }
                          });
                        });
                      });
                     
                           
                    
                  
